#root{
    background-color: aliceblue;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    .userName{
        padding: 4px;
        margin: 4px;
    }
    .passWord{
        padding: 4px;
        margin: 4px;
    }
    .submitBtn{
        padding: 4px;
        margin: 4px;
        width: 100px;
    }
}